<% content_for :title, "Contact Us | Walks & Wags Co." %>
<% content_for :meta_description, "Get in touch with Walks & Wags Co. for dog walking services, queries, or bookings. We’d love to hear from you!" %>

<div class="contact-container">
  <%# <section id="section2" class="color-bg" style="background-color: #011712;">
    <div class="banner">
      <div>
        <h1 class="blog-title">How can we help?</h1>
      </div>
      <div class="blog-photo-div">
        <%= image_tag "how_can_i_help.webp", alt:"Curious dog tilting its head, inviting you to reach out with questions about dog walking and pet care services.", class: "w-100 blog-photo" %>
      <%# </div>
    </div>
  </section> %>
  <div>
    <div>
      <button onclick="history.back()" class="exit-button">← Exit</button>
    </div>
    <script src="https://js-eu1.hsforms.net/forms/embed/145930210.js" defer>
      const observer = new MutationObserver(() => {
        const heading = document.querySelector('.hsfc-Heading');
        if (heading && heading.textContent.includes("Wanstead Wags")) {
          heading.textContent = "Get Started with Walks & Wags Co.";
          observer.disconnect(); // stop watching once updated
        }
      });

      observer.observe(document.body, {
        childList: true,
        subtree: true,
      });
    </script>

    <div class="hs-form-frame" data-region="eu1" data-form-id="64cca01b-8c9a-4c29-9756-1ab5755265d4" data-portal-id="145930210"></div>
  </div>
</div>
