.exit-button {
  font-family: "Bellota Text", serif;
  border: solid 1px #011712;
  padding: 10px 30px;
  margin: 30px;
  border-radius: 30px;
  background-color: #011712;
  color: #EFEDE7;
  font-weight: bold;
}
