#map {
  width: 50%;
  border-radius: 50px;
}

.mapboxgl-popup-content h3 {
  margin-bottom: 0!important;
  font-family: 'Lato'!important;
}

.mapboxgl-popup-content {
  padding: 15px 15px 15px!important;
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  #map {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)  and (orientation: portrait) {
  #map {
    width: 100%;
  }
}
