.terms_section {
  border-bottom: solid black 2px;
  padding: 2rem 0;
  font-family: "Bellota Text", serif, sans-serif !important;
}

.term_headers {
  font-family: "Abril Fatface", serif!important;
}
